<%- include("partials/header") -%>

<% post.forEach((posts) => { %>
    <h1><%= posts.title %></h1>
    <p><%= posts.body.substring(0, 100) + " ..." %> <a href="/posts/<%= posts.title %>">Read More</a></p>
<% }) %>
<%- include("partials/footer") -%>